

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2><a asp-controller="SignUps">SignUp</a></h2>

    <h2><a asp-controller="Customers">Customers Details</a></h2>
    <h2><a asp-controller="Products">Product Details</a></h2>
    <h2><a asp-controller="Orders">Orders Details</a></h2>

</div>
